<h1>Check out the clients</h1>
<% @clients.each do |client| %>
	<h3><%= link_to client.name, user_path(client) %></h3>
	<p>Email at <%= client.email %></p>
<% end %>

<% if is_signed_in? %>
	<h1>Check out the admins</h1>
	<% @admins.each do |admin| %>
		<h3><%= link_to admin.name, user_path(admin) %></h3>
		<p>Email at <%= admin.email %></p>
	<% end %>

	<%= form_for @admin do |f| %>
		<%= f.label 'Email' %>
		<%= f.text_field :email %>
		<%= f.submit "Add Admin" %>
	<% end %>

<% end %> 



