%br/
%br/
%p= link_to 'Edit', edit_user_url(@user.id), :class => 'btn pull-right btn-large'
.row-fluid
  .span4.offset2
    %a{:href => "#"}
      %img{:height => "2600", :src => "https://ativa.s3.amazonaws.com/uploads/admin/avatar/12/sunglass.jpg", :width => "2600"}
      %h3.pagination-centered= @user.type
  %br/
  %br/
  .span4
    %h2
      = @user.name
      %small=# if @user.client? then " #{@user.project.name}" else " Perfect Search Media" end
    %h3= @user.email